---
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args:
          [
            "--line-length=121"
          ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args:
          - --maxkb=1000
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.27.0
    hooks:
      - id: renovate-config-validator
        args: ["--strict"]
        language_version: lts
        files: ^renovate\.json5$
  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        args: [--external-sources]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ['-c', '.lint/yamllint/.yamllint']
  - repo: https://github.com/PyCQA/pylint
    rev: v4.0.4
    hooks:
      - id: pylint
        args:
          [
            "--rcfile=.lint/pylint/.pylintrc"
          ]
  - repo: local
    hooks:
      - id: validate-makerworld-exports
        name: Validate MakerWorld Exports
        entry: .githooks/makerworld-export
        language: script
        pass_filenames: false
        always_run: true
...
