---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args:
          - --maxkb=1000
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.11.0
    hooks:
      - id: renovate-config-validator
        args: ["--strict"]
        language_version: lts
        files: ^renovate\.json5$
  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        args: [--external-sources]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ['-c', '.lint/yamllint/.yamllint']
  - repo: https://github.com/PyCQA/pylint
    rev: v3.3.6
    hooks:
      - id: pylint
        args:
          [
            "--rcfile=.lint/pylint/.pylintrc"
          ]
  - repo: local
    hooks:
      - id: validate-makerworld-exports
        name: Validate MakerWorld Exports
        entry: cmd/export/export-core-models.sh
        language: script
        pass_filenames: false
        always_run: true
...
