name: Handle Release PRs

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.RELEASES_APP_ID }}
          private-key: ${{ secrets.RELEASES_APP_PRIVATE_KEY }}

      - name: Handle Release Creation
        uses: camunda/infra-global-github-actions/teams/infra/pull-request/release@92fe1f44f5104a9d3a0ab6ce32d9772878e39c22
        with:
          github-token: ${{ steps.app-token.outputs.token }}
