---
name: Validate PR Title

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

permissions:
  pull-requests: read

jobs:
  validate-title:
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        uses: camunda/infra-global-github-actions/teams/infra/pull-request/validate-title@1f5a9aec53f142d600b6d0bfea8533b860a65367
        with:
          # Keep in sync with .github/config/release-please-config.json changelog-sections
          types: |
            feat
            fix
            deps
            docs
            ci
            test
            chore
            refactor
